<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>

    <script type="text/javascript" th:inline="javascript">
        window.menu = /*[[${testModel.name}]]*/ s;
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${'Online Shopping - ' + testModel.name+ '!'}"></title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{/bootstrap/css/bootstrap.min.css}">

    <!-- Custom styles for this template -->
    <link href="../../static/shop-homepage.css" rel="stylesheet" th:href="@{/shop-homepage.css}">

    <link href="../../static/bootswatch.css" rel="stylesheet" th:href="@{/bootswatch.css}">

</head>

<body>
    <div class="wrapper">
        <!-- Navigation -->
        <div th:insert="thymeleaf/shared/navbar :: navbar"></div>

        <div class="content">
            <!-- Page Content -->
            <div th:if="${testModel.isUserClickHome()}" th:insert="thymeleaf/home :: home"></div>

            <div th:if="${testModel.isUserClickContact()}" th:insert="thymeleaf/contact :: contact"></div>

            <div th:if="${testModel.isUserClickAbout()}" th:insert="thymeleaf/about :: about"></div>

            <div th:if="${userClickAllProducts == true || userClickCategoryProducts == true}" th:insert="thymeleaf/listProducts :: listProducts"></div>
        </div>
        <!-- Footer -->
        <div th:insert="thymeleaf/shared/footer :: footer"></div>

        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/jquery/jquery.min.js}"></script>
        <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/jquery/myapp.js}"></script>
    </div>
</body>



</html>

